@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
.vidabt{
    background-color: black;
}
.vid3{
    height: 650px;
    width: 100%;
    background-color: black;
    opacity: 30%;
}
.about{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);   
    color: white;
    text-align: center;
}
.aboutline{
    font-family:'Oswald';
    font-size: 65px;
    font-weight: 700;   
}
.quote{
    padding-top: 20px;
    font-size: 45px;
    font-weight: 500;
    font-style: italic;
}