@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

.container{
    position: relative;
    text-align: center;
    color: white;
    background-color: black;
}
.main{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 650px;
    opacity: 40%;
}
.write{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
.coverline{
    font-family:'Oswald';
    font-size: 65px;
    font-weight: 700;
}
.subhead{
    font-family: 'Oswald';
    font-size: 50px;
    font-weight: 400;
    font-style: italic;
}

.open{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    border: 2px solid white;
    font-weight: 400;
    font-family: 'Playfair Display';
    border-radius: 20px;
    background-color: rgb(6, 6, 133);
    padding:  0px 8px 8px 8px

}
.ad{
    text-decoration: none;
    color: white;
}
.who{
    text-align: center;
    font-family: 'Playfair Display';
    font-size: 45px;
    font-weight: 600;
    color:rgb(6, 6, 133); 
    padding-top: 20px;
    text-decoration: underline;
}
.text-box {
    width: auto; 
    padding: 20px; 
    margin: 40px 150px; 
    background-color: rgb(6, 6, 133); 
    border-radius: 8px; 
    box-shadow: 8px 7px 6px 7px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.06); 
    font-family: Arial, sans-serif; 
    font-size: 16px; 
    text-align: center; 
    border: 2px solid rgb(10, 10, 255);
    
  }
  .content2{
    font-size: 30px;
    font-weight:400 ;
    color: #ffffff;
  }
  .vison-head{
    text-align: center;
    font-family: 'Playfair Display';
    font-size: 45px;
    font-weight: 600;
    color:rgb(6, 6, 133); 
    padding-top: 20px;
    text-decoration: underline;
  }
  .box-vision{
    width: auto; 
    padding: 20px; 
    margin: 40px 150px; 
    border: 2px solid rgb(6, 6, 104);
    background-color: rgb(6, 6, 133);
    border-radius: 8px; 
    box-shadow: 8px 7px 6px 7px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.06); 
    font-family: Arial, sans-serif; 
    font-size: 16px; 
    text-align: center; 
  }
  .vision-content{
    font-size: 30px;
    font-weight:400 ;
    color:#ffffff
  }
  .vid1{
    height: 500px;
    width: 500px;
    background-color: rgb(226, 225, 225);
    margin-left: 20px;
    border: 3px solid black;
    border-radius: 30px;
    box-shadow: 2px 5px 2px 2px;
  }
  .side-box{
    width: auto; 
    padding: 20px; 
    margin: -300px 100px 20px 660px; 
    background-color: #ffffff; 
    border-radius: 8px; 
    font-family: Arial, sans-serif; 
    font-size: 16px; 
    text-align: center; 
    border: 2px solid rgb(6, 6, 104);
    background-color: rgb(6, 6, 133);
  }
  .side-content{
    font-size: 30px;
    font-weight:400 ;
    font-style: italic;
    color: white;
  }
  .video2{
    height: 500px;
    width: 500px;
    background-color: rgb(226, 225, 225);
    margin-top: 230px;
    margin-left: 990px;
    border: 3px solid black;
    border-radius: 30px;
    box-shadow: 5px 5px 2px 2px;
  }
  .side-box2{
    width: auto; 
    padding: 20px; 
    margin: -250px 660px 20px 100px; 
    background-color: #ffffff; 
    border-radius: 8px; 
    font-family: Arial, sans-serif; 
    font-size: 16px; 
    text-align: center;
    border: 2px solid rgb(6, 6, 104);
    background-color: rgb(6, 6, 133);
  }
  .side-content2{
    font-size: 30px;
    font-weight:400 ;
    font-style: italic;
    color: #ffffff;
  }
  .side-headcont{
    margin-bottom: 20px;
    font-family: 'Playfair Display';
    font-size: 45px;
    font-weight: 600;
    color:rgb(6, 6, 133); 
    margin-left: 60%;
    text-decoration: underline;
    position: relative;
    bottom: -150px;
  }
  .side-headcont2{
    margin-bottom: 20px;
    font-family: 'Playfair Display';
    font-size: 45px;
    font-weight: 600;
    color:rgb(6, 6, 133); 
    margin-left: 20%;
    text-decoration: underline;
    position: relative;
    bottom: -400px;
  }